body, html {
    height: 100%;
    margin: 0;
}

.bg{
    background: url("../img/comingsoon.jpg");
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
   	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    
}